* {
  box-sizing: border-box;
}
.box {
  border: 2px solid #000000;
  max-width: 1000px;
  margin: 0 auto;
}
.top {
  border-bottom: 2px solid #000000;
  padding: 10px;
}
.bottom {
  padding: 20px;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.left {
  width: 30%;
  padding: 30px;
  background: pink;
  border: 1px solid #000000;
}
.right {
  width: calc(70% - 20px);
  padding: 30px;
  background: blue;
  border: 2px solid #000000;
}
.gold {
  background: gold;
  padding: 30px;
  border: 2px solid #000000;
}
